@charset "UTF-8";

/* Reset */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Conteúdo Body/HTML */
html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(./imagens/fundo-madeira.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Conteúdo Main */
main {
    height: 100vh;
    position: relative;
}

/* Configuração ID Telefone */
section#telefone {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 627px;
    width: 311px;
    background: url(./imagens/frame-iphone.png) no-repeat;
}

/* Configuração Iframe */
iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

/* Configuração Links*/
section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.418);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    transition: 0.1s, border 0.1s ;
}

