@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --fonte-Texto: 'Quicksand', sans-serif;
    --fonte-Destaque: 'Bebas Neue', sans-serif;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: white;
    margin: auto;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-family: var(--fonte-Destaque);
    font-size: 3em;
}

header > a {
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
}

header > a:hover {
    color: rgb(124, 124, 126);
}

body {
    height: 100vh;
    background-image: url(imagens/wallpaper007.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
    padding: 10px;
}

nav > a {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
    font-family: var(--fonte-Destaque);
    font-size: 1.6em;
}

nav > a:hover {
    color: rgb(124, 124, 126);
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 50px;
    min-width: 300px;
    max-width: 1000px;
    border-radius: 5px;
    padding-bottom: 20px;
}

main h2 {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-family: var(--fonte-Destaque);
    font-size: 2em;
}

main h3 {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-family: var(--fonte-Destaque);
    font-size: 1.7em;
}

main p {
    text-align: justify;
    font-size: 17px;
    text-indent: 30px;
    max-width: 900px;
    margin: auto;
    padding: 10px;
    font-family: var(--fonte-Texto);
    font-weight: 600;
}

main table {
    margin: auto;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
}

main td, main th {
    border: 1px solid black;
    padding: 5px;
    width: 150px;
}

main thead {
    background-color: rgb(194, 194, 194);
    text-align: center;
}

/* Cabeçalho da tabela fixo */
main thead > tr > th {
    position: sticky;
    top: 0;
    background-color: rgb(194, 194, 194);
    border: 1px solid black;
}

main caption {
    font-weight: 900;
    padding: 3px;
}

/* Efeito "zebrado" */
tbody > tr:nth-child(2n) {
    background-color: rgb(194, 194, 194);
}

tr.cabeca {
    background-color: rgb(175, 175, 175);
    text-align: center;
}

td.numero {
    text-align: right;
}

td.posicao {
    text-align: center;
}

div.quadrado {
    border: 3px solid black;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(77, 77, 77);
    width: 300px;
    height: 300px;
}

main ul {
    list-style-position: inside;
    margin: auto;
    width: 890px;
}

main li > a, main a {
    text-decoration: none;
}

main h1 {
    text-align: center;
    padding: 10px;
}

div#q {
    max-width: 930px;
    margin: auto;
}

/* Primeira configuração de fundo, usando apenas uma cor sólida com */
div#q1 {
    background-color: aquamarine;
}

/* Segunda configuração, usando efeito de gradiência */
div#q2 {
    background-image: linear-gradient(to bottom, yellow, red);
}

/* Terceira configuração, usando um arquivo de imagem como fundo */
div#q3 {
    background-image: url('imagens/pattern003.png');
}

.sombra {
    box-shadow: 7px 7px 7px #0000003f;
}

.sombraTexto {
    text-shadow: 7px 7px 7px #00000034;
}

footer {
    text-align: center;
    background-color: white;
    margin: auto;
    border-bottom: 40px;
}

footer > p {
    padding: 10px;
}

footer > p > a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition-duration: 0.3s;
}

footer > p > a:hover {
    color: rgb(124, 124, 126);
}
